<a href="https://colab.research.google.com/github/Ashiq-am/Data-Science-Machine-Learning-with-Python/blob/main/Python_Bascis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started with Python Basics in Colab
----------------------------------------------------
# 1. Variables and Data Types
----------------------------------------------------
# In Python, you don't need to explicitly declare the type of a variable.
# The type is determined automatically based on the value you assign.

In [2]:
# Examples of different data types:
integer_var = 42              # Integer
float_var   = 3.1415          # Float
string_var  = "Hello, Python" # String
boolean_var = True            # Boolean

print("----- Variables and Data Types -----")
print("Integer Variable:", integer_var)
print("Float Variable:", float_var)
print("String Variable:", string_var)
print("Boolean Variable:", boolean_var)

greeting = "Hello"
greeting = greeting + " World"  # creates a new string "Hello World"

print(greeting)

my_list = [1, "two", 3.0, True]
my_list[1] = "new value"  # Lists are mutable
print(my_list)

my_tuple = (1, "two", 3.0)
# my_tuple[1] = "new value"  # This would raise an error because tuples are immutable
print(my_tuple)

numbers = range(5)  # Creates a sequence [0, 1, 2, 3, 4]
for i in numbers:
    print(i)

my_set = {1, 2, 3, 2, 1}
print(my_set)  # Output: {1, 2, 3}

my_frozenset = frozenset([1, 2, 3])
# my_frozenset.add(4)  # Raises an error because it's immutable
print(my_frozenset)

person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
person["age"] = 31  # update value
print(person)

x = None
if x is None:
    print("x has no value")


x = 10
print(type(x))  # <class 'int'>


# Convert a float to an int
pi = 3.14
pi_int = int(pi)  # 3

# Convert an int to a string
num_str = str(10)  # "10"

# Convert a list to a set
my_list = [1, 2, 3, 2]
my_set = set(my_list)  # {1, 2, 3}

----- Variables and Data Types -----
Integer Variable: 42
Float Variable: 3.1415
String Variable: Hello, Python
Boolean Variable: True
Hello World
[1, 'new value', 3.0, True]
(1, 'two', 3.0)
0
1
2
3
4
{1, 2, 3}
frozenset({1, 2, 3})
{'name': 'Alice', 'age': 31, 'city': 'New York'}
x has no value
<class 'int'>

# ----------------------------------------------------
# 2. Dynamic Typing in Python
# ----------------------------------------------------
# Python is dynamically typed. This means that a variable can be reassigned to a value of a different data type without any error.

In [3]:
dynamic_var = 100
print("\nBefore reassignment:")
print("dynamic_var =", dynamic_var, "| Type:", type(dynamic_var))

# Reassign the same variable to a string
dynamic_var = "Now I'm a string!"
print("\nAfter reassignment:")
print("dynamic_var =", dynamic_var, "| Type:", type(dynamic_var))

Before reassignment:
dynamic_var = 100 | Type: <class 'int'>

After reassignment:
dynamic_var = Now I'm a string! | Type: <class 'str'>